body{
    background-color: rgb(5, 126, 90);
}
.container{
    background-color: azure;
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin: auto;
    margin-top: 150px;
}
.insider{
    background: url('../images/bicycle.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 150px;
}
.heading{
    display: flex;
    position: relative;
    align-items: center;
}
#account{
    position: absolute;
    right: 0%;
}
#head-1{
    font-size: 20px;
}
#orderNo{
    font-size: 12px;
    font-weight: 600;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.insider{
    padding: 20px 45px 0px;
    width: 410px;
    height: 380px;

}
.pricing{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
.price{
    position: absolute;
    right: 0%;
}
.product{
    display: flex;
}
#product-1,#product-2{
    font-size: 17px;
    font-weight: 600;
}
#total{
    font-size: 18px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}